#cookie {
  width: 30%;
}

#cookie:hover {
  width:31%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column button {
  margin: 5px;
}

.hidden {
  display:none;
}